<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="padding-top:50px">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
        function icd_search(){
            var cui = '{{ CUI }}'
            var error = '{{ error }}'
            if (cui != ''){
                if ('{{ web }}' != ''){
                    alert(cui)
                    window.open('{{ web }}')
                }

            }
            if (error == 'y'){
                alert('Sorry, can not find the mapped MeSH term')
            }

            if ( '{{return_file}}' == 'yes'){
                var title = {{ title|safe }}
                var pm = {{ pubmed_id|safe }}
                console.log(pm)

                var box1 = document.getElementById('box1')
                    for (var x= 0 ; x<title.length; x++){
                        var pp = document.createElement("p");
                        var pmid = document.createElement("a");

                        var linkText = document.createTextNode(x + '-- Pubmed_id: ' + pm[x]);
                        pmid.appendChild(linkText);

                        pp.innerHTML ="Title:  " + title[x];
                        pmid.title = pm[x]
                        pmid.href = 'https://www.ncbi.nlm.nih.gov/pubmed/' + pm[x]


                        box1.appendChild(pmid);
                        box1.appendChild(pp);
                        box1.appendChild(document.createElement("br"))
                     }

            }
        }
</script>



<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="index">Pubmed analysis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="ICD">ICD search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="authors">Authors Network</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cancer">Cancer analysis</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More info</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="https://github.com/JeffBCC96/Big_data_EECS6893-1227-.git">Git hub</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="jumbotron" style="background-image: url('https://img.jakpost.net/c/2016/11/29/2016_11_29_16787_1480388134._large.jpg');  background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <div class="container">
        <h1>Search ICD terms </h1>
		<p> You can just type in ICD term, the result will be shown below.</p>

        <form action="/ICD_search" method="post" id = 'form1'>
                {% csrf_token %}
                <input type="text" name="q" id ='icd' placeholder="breast cancer">
                <input type="submit" value="Submit" id="btn">
        </form>

    </div>


</div>


<div class="container" id="box1">
    <p> <----------- The results will be shown here  ---------></p>
    <script>
        icd_search()
    </script>

</div>


</body>


</html>